{
  "Baabaa": 1,
  "Slick": 1,
  "Gummy": 1,
  "Scoots": 1,
  "Mizu": 1,
  "Pips": 1,
  "Poko": 1,
  "Sakura": 1,
  "Sizzle": 1,
  "Mochi": 1,
  "Sunny": 1,
  "Moss": 1,
  "Dinkee": 1,
  "Mooberry": 1,
  "Ranger": 1,
  "Crank": 1,
  "Stella": 1,
  "Chroma": 1,
  "Coco": 1,
  "Mushy": 1,
  "Miko": 1,
  "Luma": 1,
  "Ignis": 1
}
