{
  "Expedition Training": 0,
  "Clear the Path": 0,
  "Water Delivery": 0,
  "Harvest Abandoned Mine": 0,
  "Water Rescue": 0,
  "Attack Poacher Camps": 0,
  "Rare Material Sighting": 0,
  "Defend Koltera Outpost": 0,
  "Sunken Shipwreck Recovery": 0,
  "Supply Delivery": 0,
  "Rescue Lost Creatures": 0,
  "Discover a Dungeon": 0,
  "Recover Lost Supplies": 0,
  "Tracking Rare Creature": 0,
  "Research the Swamp": 0,
  "Ancient Water Ruins": 0
}
